.mc-upload-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    max-width: 1400px;
}

.mc-upload-box {
    /* width: 50%; */
    height: 20rem;
    overflow: scroll;
    background: #fff;
}

.mc-upload-box > div {
    padding: .25rem .5rem;
}

.mc-upload-box > div:hover {
    background: #ccc;
}